/** Global elements */
body{
    background-color: #181818;
    font-family: Roboto, Arial, sans-serif;
    color:white;
}
.container{
    padding: 10px 10px;
    box-sizing: border-box;
}
.rotate_icon{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

/** Navigation bar */
#navbar{
    background-color: #202020;
}
#navbar ul{
    display: inline-block;
    width: 100%;
}
#navbar ul li{
    display: inline-block;
    margin: 5px 10px;
}
#navbar i{
    height: 18px;
    color: white;
}
#navbar form{
    display: block;
    float: right;
    margin-top: 5px;
}
#navbar  input[type='text']{
    font-size: 15px;
    padding: 4px 10px;
    border: 1px solid #323232;
    background-color: #121212;
    color: white;
    float: left;
    width: 500px;
   
}
#navbar form button{
    padding: 6px 20px;
    border: 1px solid #323232;
    border-radius: 0;
    background-color: #323232;
    float: left;
}
#navbar form button i{
    color: #6f6f6f ; 
}
#navbar input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #797979;  
}
.account_avatar{
    border-radius: 50%
}
#left_navbar{
    float: left;
    width: 70%;
}
#left_navbar li{
    margin-top: 8px !important;
}
#left_navbar img{
   padding-bottom: 2px !important;
}
#right_navbar{
    float: right
}

/** Video Content */
#video_content{
    padding-top: 25px;
    padding-left: 30px;
    width: 65%;
    float: left;
}
.video_information{
    margin: 12px 0;
    border-bottom: 1px solid #303030; 
}
.video_information .video_title{
    margin: 10px 0;
}
.video_title{
    font-size: 20px;
}
.video_options{
    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #303030;
}
#options_right{
    display: block; 
    float: right;
}
#options_right ul{
    display: inline-block;
    margin-top: -5px;
}
#options_right i{
    font-size: 20px;
}
#options_right ul li{
    display: inline-block;
    color: #909090;
    margin: 0 10px;
}
#options_right ul li:hover{
    cursor: pointer;
}
#options_right ul li span{
    font-size: 15px;
    color: #909090;
    vertical-align: 5px;
    margin-left: 10px;
    vertical-align: 5px;
    font-weight: 600; 
}
#likes_ration{
    display: inline-block;
}
#likes_meter{
    margin-top: 18px;
    width: 100%;
    background-color: #303030;
    height: 2px;
}
#likes_meter span{
    display: block;
    background-color: #3ea6ff;
    height: 2px;
}
.liked i{
    color: #3ea6ff;
}
.liked span{
    color: #3ea6ff !important;
}
.video_info_text{
    font-size: 17px;
    color: #aaaaaa;
    display: inline-block;
}
#name_and_subs{
    display: inline-block; 
    vertical-align: 10px;
    margin-left: 10px;
}
#name_and_subs p{
    display: inline-block;
}
#name_and_subs p:last-child{
    font-size: 14px;
    color: #aaaaaa;
}
.right{
    display: block;
    float: right;
}
#channel-right{
    margin-top: 4px;
}
#channel-right button{
    border-radius: 0;
    background-color: #323232;
    border: 0;
    color: #909090;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 15px;
}
.subscribe{
    color: white !important;
    background-color: #cc0000 !important;
}
#channel-right i{
    vertical-align: middle;
}
#channel_description{
    margin-left: 60px;
}
.show_more{

    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}


/** Video Comments */

/** Videos Playlist */
#videos_playlist{
    width: 35%;
    float: right;
}




